<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="CSS/account-pts-mobile.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Account</title>
</head>
<body>

    <div class = "topbar">
        <a href="/login" id="back"><i class='bx bx-chevron-left'></i></a>
        <h1>My Account</h1>
    </div>

    <div class="balance-box">
        <h3 id="balance-heading">Fetmonds balance</h3>
        <h1 id="current-balance"><%=bid_points%></h1>
        <div id="other-payments">
            <div id="expiring">
                <h4 id="exp-next-mon">Expiring Next Month</h4>
                <h3 id="pt-to-expire">150</h3>
            </div>

            <div id="repayment">
                <h4 id="pending-rep">Pending Repayment</h4>
                <h3 id="pt-to-rep">146</h3>
            </div>
        </div>
    </div>

    <br><br>

    <div class="recent-tran">
        <h2>Recent Transactions</h2>

        <!-- <div class="space"></div> -->

        <div id="transaction">
            <div id="court">
                <h4 id="cname">Badminton Court</h4>
                <h4 id="ctime">11.0-12.0</h4>
            </div>

            <div id="cdate">
                1-Sept-22
            </div>

            <div id="charge" class="deduct">-$50</div>
        </div>


        <div id="transaction">
            <div id="court">
                <h4 id="cname">Tennis Court</h4>
                <h4 id="ctime">11.0-12.0</h4>
            </div>

            <div id="cdate">
                1-Sept-22
            </div>

            <div id="charge" class="deduct">-$50</div>
        </div>

        <div id="transaction">
            <div id="court">
                <h4 id="cname">Tennis Court</h4>
                <h4 id="ctime">11.0-12.0</h4>
            </div>

            <div id="cdate">
                1-Sept-22
            </div>

            <div id="charge" class="credited">+$45</div>
        </div>

        <div id="transaction">
            <div id="court">
                <h4 id="cname">Monthly Credit</h4>
                <h4 id="ctime" >11.0-12.0</h4>
            </div>

            <div id="cdate">
                1-Sept-22
            </div>

            <div id="charge" class="credited">+$500</div>
        </div>
        

        <div class="space"></div>

    </div>

    <div class="account-nav">
        <a href="/account-info" ><i class='bx bxs-user'></i></a>
        <a href="#" class="high"><i class='bx bxs-diamond high' ></i></a>
        <a><i class='bx bxs-trophy'></i></a>
        
    </div>

    <nav class="bottom-nav">
      
        <a href="/login" class="nav-item">
            <i class='bx bx-home'></i>
        </a>
  
        <a href="/bid_page" class="nav-item">
            <i class='bx bx-money-withdraw'></i>
        </a>
  
        <a href="/support" class="nav-item">
            <i class='bx bx-support'></i>
        </a>
  
        <a href="#" class="nav-item">
            <i class='bx bx-user  active'></i>
        </a>
  
    </nav>

    
</body>
</html>